# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.csv
*.json
*.joblib
*.ipynb_checkpoints/

#  Virtual environment
venv/
.env/
.venv/
ENV/
env.bak/

#  Data & models
data/raw/
data/processed/
models/*.pkl
models/*.joblib
models/*.h5
models/*.onnx

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
